.call {
  position: relative;
  padding: 120px 0 120px;
  z-index: 0;
  background: $color-black url("../img/call/call-to-action-img@1x.jpg") center center/cover no-repeat;

  @include retina {
    background: $color-black url("../img/call/call-to-action-img@2x.jpg") center center/cover no-repeat;
  }

  @include retina {
    background: $color-black url("../img/call/call-to-action-img@1x.webp") center center/cover no-repeat;
  }

  @include retina {
    background: $color-black url("../img/call/call-to-action-img@2x.webp") center center/cover no-repeat;
  }

  @include tablet {
    padding: 50px 0 60px;
  }

  @include mobile {
    padding: 40px 0 40px;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-default-black;
    opacity: 0.7;
    z-index: -1;
  }
}

.call__title {
  margin: 0 0 10px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: $color-default-white;
  text-align: center;

  @include mobile {
    font-size: 28px;
    line-height: 38px;
  }
}

.call__text {
  margin: 0 0 40px;
  padding: 0;
  font-weight: 400;
  color: $color-default-white;
  text-align: center;
}

.call__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  background-color: $color-transparent;
}
