.overlay-zoom {
  position: absolute;
  inset: 0;
  padding: 20px;
  color: $color-default-white;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: opacity $default-transition-settings, visibility $default-transition-settings, transform $default-transition-settings;
  z-index: 1;

  @include mobile-sm {
    padding: 10%;
  }
}

.overlay-zoom__inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid $color-yellow;

  @include mobile-sm {
    padding: 10%;
  }
}
