.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 285px 0;

  background: $color-black url("../img/promo/promo-img@1x.jpg") center center/cover no-repeat;

  @include retina {
    background: $color-black url("../img/promo/promo-img@2x.jpg") center center/cover no-repeat;
  }

  @include retina {
    background: $color-black url("../img/promo/promo-img@1x.webp") center center/cover no-repeat;
  }

  @include retina {
    background: $color-black url("../img/promo/promo-img@2x.webp") center center/cover no-repeat;
  }

  @include tablet {
    padding: 220px 0;
  }

  @include mobile {
    padding: 170px 0;
  }
}

.promo__content {
  width: 560px;

  @include tablet {
    margin: 0 auto;
    width: 80%;
    max-width: 750px;
  }

  @include mobile {
    width: auto;
    text-align:center;
  }
}

.promo__title {
  margin: 0 0 5px;
  padding: 0;

  font-family: $font-family-secondary;
  font-size: 66px;
  line-height: 76px;
  color: $color-yellow;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: opacity 0.8s ease 0s, transform 0.8s ease 0s;

  @include mobile {
    font-size: 40px;
    line-height: 1.25;
  }
}

.promo__title.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.promo__subtitle {
  display: block;
  margin: 20px 0 0;
  padding: 0;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 6px;
  color: $color-default-white;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: opacity 0.8s ease 0.4s, transform 0.8s ease 0.4s;

  @include mobile {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.25;
  }
}

.promo__subtitle.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.promo__descr {
  margin: 0 0 30px;
  padding: 0;
  color: $color-default-white;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: opacity 0.8s ease 0.8s, transform 0.8s ease 0.8s;

  @include mobile {
    font-size: 14px;
  }
}

.promo__descr.active {
  transform: translate(0px, 0px);
  opacity: 1;

}

.promo__link {
  display: block;
  width: 230px;

  @include mobile {
    margin: 0 auto;
  }
}
