.reviews {
  position: relative;
  padding: 100px 0 85px;

  z-index: 0;
  background: $color-black url("../img/reviews/reviews-img@1x.jpg") center center/cover no-repeat;

  @include retina {
    background: $color-black url("../img/reviews/reviews-img@2x.jpg") center center/cover no-repeat;
  }

  @include retina {
    background: $color-black url("../img/reviews/reviews-img@1x.webp") center center/cover no-repeat;
  }

  @include retina {
    background: $color-black url("../img/reviews/reviews-img@2x.webp") center center/cover no-repeat;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-default-black;
    opacity: 0.5;
  }
}

.reviews__slider {
  margin: 0 auto;
  width: 100%;
  max-width: 740px;
}

.reviews .swiper-wrapper {
  padding-bottom: 50px;
}

.reviews .swiper-pagination-bullet {
  display: inline-block;
  width: 16px;
  height: 6px;
  margin: 0 5px;
  background-color: $color-default-white;
  transition: background-color $default-transition-settings;
  border-radius: 0;
  opacity: 1;
}

.reviews .swiper-pagination-bullet-active {
  background-color: $color-yellow;
}
