@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "OpenSans";

  font-display: swap;
  src: url("../fonts/OpenSans-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "OpenSans";

  font-display: swap;
  src: url("../fonts/OpenSans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "OpenSans";

  font-display: swap;
  src: url("../fonts/OpenSans-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "OpenSans";

  font-display: swap;
  src: url("../fonts/OpenSans-700.woff2") format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "OpenSans";

  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Nautilus";

  font-display: swap;
  src: url("../fonts/Nautilus.woff2") format("woff2");
}
